<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->


<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">


    <!-- General description of your web application -->

    <display-name>RUT Company</display-name>
    <description>
      Description
    </description>


    <!-- Context initialization parameters that define shared
         String constants used within your application, which
         can be customized by the system administrator who is
         installing your application.  The values actually
         assigned to these parameters can be retrieved in a
         servlet or JSP page by calling:

             String value =
               getServletContext().getInitParameter("name");

         where "name" matches the <param-name> element of
         one of these initialization parameters.

         You can define any number of context initialization
         parameters, including zero.
         
         <servlet>
    	<servlet-name>CompanyController</servlet-name>
    	<servlet-class>corporation.gui.web.CompanyController</servlet-class>
  	</servlet>
    -->
	
    
    <context-param>
      <param-name>webmaster</param-name>
      <param-value>myaddress@mycompany.com</param-value>
      
    </context-param>


    <!-- Servlet definitions for the servlets that make up
         your web application, including initialization
         parameters.  With Tomcat, you can also send requests
         to servlets not listed here with a request like this:

           http://localhost:8080/{context-path}/servlet/{classname}

         but this usage is not guaranteed to be portable.  It also
         makes relative references to images and other resources
         required by your servlet more complicated, so defining
         all of your servlets (and defining a mapping to them with
         a servlet-mapping element) is recommended.

         Servlet initialization parameters can be retrieved in a
         servlet or JSP page by calling:

             String value =
               getServletConfig().getInitParameter("name");

         where "name" matches the <param-name> element of
         one of these initialization parameters.

         You can define any number of servlets, including zero.
    

    -->
	<servlet>
	    <servlet-name>CompanyController</servlet-name>
    	<servlet-class>corporation.gui.web.CompanyController</servlet-class>
    	<init-param>
      		<param-name>debug</param-name>
      		<param-value>2</param-value>
    	</init-param>
  	</servlet>
  	
  	<servlet>
    	<description></description>
    	<display-name>AccountController</display-name>
    	<servlet-name>AccountController</servlet-name>
    	<servlet-class>corporation.gui.web.AccountController</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<description></description>
    	<display-name>TransactionController</display-name>
    	<servlet-name>TransactionController</servlet-name>
    	<servlet-class>corporation.gui.web.TransactionController</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<description></description>
    	<display-name>FileUploadServlet</display-name>
    	<servlet-name>FileUploadServlet</servlet-name>
    	<servlet-class>corporation.gui.web.FileUploadServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<description></description>
    	<display-name>UploadedFileController</display-name>
    	<servlet-name>UploadedFileController</servlet-name>
    	<servlet-class>corporation.gui.web.UploadedFileController</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
    	<servlet-name>CompanyController</servlet-name>
    	<url-pattern>/CompanyController.do</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>AccountController</servlet-name>
    	<url-pattern>/AccountController.do</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>TransactionController</servlet-name>
    	<url-pattern>/TransactionController.do</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>FileUploadServlet</servlet-name>
    	<url-pattern>/upload</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>UploadedFileController</servlet-name>
    	<url-pattern>/UploadedFileController.do</url-pattern>
  	</servlet-mapping>

    <!-- Define mappings that are used by the servlet container to
         translate a particular request URI (context-relative) to a
         particular servlet.  The examples below correspond to the
         servlet descriptions above.  Thus, a request URI like:

           http://localhost:8080/{contextpath}/graph

         will be mapped to the "graph" servlet, while a request like:

           http://localhost:8080/{contextpath}/saveCustomer.do

         will be mapped to the "controller" servlet.

         You may define any number of servlet mappings, including zero.
         It is also legal to define more than one mapping for the same
         servlet, if you wish to.
    -->

	<listener>
		<listener-class>corporation.gui.web.RUTContextListener</listener-class>
	</listener>
    
    <security-constraint>
      <display-name>RUT Company Security Constraint</display-name>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
	 	 <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/*</url-pattern>
	     <!-- If you list http methods, only those methods are protected -->
	 	 <http-method>DELETE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
	 	 <http-method>PUT</http-method>
      </web-resource-collection>
      <auth-constraint>
         <!-- Anyone with one of the listed roles may access this area -->
         <role-name>rut-manager</role-name>
	 	 <role-name>rut-user</role-name>
      </auth-constraint>
    </security-constraint> 

	<!-- Default login configuration uses form-based authentication -->
    <login-config>
      <auth-method>FORM</auth-method>
      <realm-name>Example Form-Based Authentication Area</realm-name>
      <form-login-config>
        <form-login-page>/login.jsp</form-login-page>
        <form-error-page>/error.jsp</form-error-page>
      </form-login-config>
    </login-config>
        
    <!-- Security roles referenced by this web application -->
    <security-role>
      <role-name>rut-user</role-name>
    </security-role>
    <security-role>
      <role-name>rut-manager</role-name>
    </security-role>    

    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>


</web-app>
